*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html ,body{
    background-image: url(https://i.pinimg.com/originals/37/38/c0/3738c0c68850f3882c590fe6f6a01711.gif);
    background-position: 50%;
  }
  
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  
  .container {
    width: 300px;
    height: 400px;
    background: #76688d;
    border: 2px solid rgb(73, 10, 247);
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    box-shadow: -3px 2px 35px 18px rgba(26, 16, 129, 0.81);
-webkit-box-shadow: -3px 2px 35px 18px rgba(47, 34, 189, 0.81);
-moz-box-shadow: -3px 2px 35px 18px rgba(28,12,194,0.81);
  }
  
  .container span {
    font-weight: bold;
    padding: 0 15px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid rgb(44, 12, 161);
    border-radius: 20px;
  }
  
  .container form {
    max-width: 300px;
    position: absolute;
    top: 130px;
    padding: 0 20px;
    transition: transform 1s;
    
  }
  
  form input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid rgb(33, 19, 160);
    border-radius: 5px;
    background: #bbb0b0;
  }
  
  form button {
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    border: 2px solid rgb(12, 10, 163);
    border-radius: 6px;
    background: #bbb0b0;
  }
  footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;  
    color: #4a35c0;
    font-size: 15px;
    text-align: center;
}
  
  #loginForm {
    left: -300px;
  }
  
  #registerForm {
    left: 0;
  }